h1 {
  &.gradient-h1 {
    > span {
      position: relative;
      display: inline-block;
      padding: 0 50px 0 10px;

      &:before {
        content: "";
        position: absolute;
        bottom: -11px;
        left: 0;
        width: 100%;
        height: 44px;
        background-image: linear-gradient(to right, #c8d6e0, #fadbcf);

        @media #{$media-phone} {
          // width: 320px;
          // max-width: 90%;
          // height: 30px;
        }
      }

      span {
          position: relative;
          z-index: 1;
          display: block;
      }
    }
  }
}
