// X-CENTER - ABSOLUTE POSITIONING
@mixin pos-abs-x {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@mixin img-overflow() {
  overflow: hidden;
  // min-height: $min-height;

  img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

@mixin para() {
  margin: 0;
  font-family: $font-robotoCondensed;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.38px;
  color: $blue-para;
}

@mixin card-heading() {
  font-family: $font-robotoCondensed;
  font-size: 35px;
  font-weight: bold;
  line-height: 1.06;
  letter-spacing: 0.55px;
  color: $blue-heading;

  @media #{$media-phone} {
  }
}

@mixin h-auto() {
  height: auto !important;
}
