h1 {
  font-family: $font-oswald;
  font-size: 90px;
  font-weight: bold;
  letter-spacing: 0.4px;
  color: $black;
}

h3 {
  // font-size: 35px;
  // line-height: 1.06;
  // letter-spacing: 0.55px;
  font-weight: bold;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: 0.63px;
  font-family: $font-robotoCondensed;
  color: $blue-heading;
}

.card-heading {
  @include card-heading;
}

p {
  @include para();

  &.large {
    font-size: 32px;
  }
}
