.image-content-block-wrapper {
  .inner-wrapper {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;

  }

  .img {
    max-height: 280px;
    overflow: hidden;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media #{$media-tablet} {
      height: 160px;
      max-height: 160px;
    }

    @media #{$media-phone} {
      max-height: none;
      height: auto;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .content {
    padding: 30px;
  }

  p {
    padding: 0 0 5px 0;
  }
}
